{% load static %}

<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title> SITE </title>
    <link rel="stylesheet" href="{% static 'anuncios/css/semantic.min.css' %}">
</head>

<body>


<div class="ui inverted attached menu">
	<div class="ui container">
	    <a href="{% url 'home' %}" class="item"> SITE </a>
	    <div class="right menu">
	    	<div class="ui right aligned category search item">
	  			<div class="ui transparent icon input">
	  			    <input class="prompt" type="text" placeholder="Pesquisar...">
	  			    <i class="search icon"></i>
	  			</div>
	  			  <div class="results"></div>
	  		</div>
	    </div>''
	</div>
</div>

<div class="ui hidden divider"></div>

<div class="ui container">
	<div class="ui stackable grid">
		<div class="four wide column">
		  	<div class="ui vertical fluid menu">
			    {% for categoria in categorias %}
					<a href="{% url 'categoria' categoria.id %}" class="item">
						{{categoria}}
					</a>
				{% endfor%}

			</div>
		</div>

	
    <div class="twelve wide column">
	{% if categoria %}
	<h1 class="ui dividing header">{{ categoria }}</h1>
	<br>
	{% endif %}
        {% block conteudo %}

        {% endblock conteudo %}
    </div>


		
	</div>
</div>

</body>
</html>